<nav>
  <mat-menu #appMenu="matMenu">
    <button mat-menu-item>Settings</button>
    <button mat-menu-item>Help</button>
  </mat-menu>

  <button mat-icon-button [matMenuTriggerFor]="appMenu">
    <mat-icon>menu</mat-icon>
  </button>
</nav>

<!--<div class="container">-->
<!--  <mat-form-field>-->
<!--    <input matInput [matDatepicker]="myDatepicker">-->
<!--    <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>-->
<!--    <mat-datepicker #myDatepicker></mat-datepicker>-->
<!--  </mat-form-field>-->
<!--</div>-->
